*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 :root{
    --uno: #C90260;
    --tres: #2D3142;
    --cuatro: #2d3142e4;
    --cinco: #EBF5EE;
    --seis: #D8BFAA;
    --negro: #212121;
    --siete: #8DA7BE;
 }

/**NAVEGACION - HEADER**/

#naveg{
    background-color: var(--tres);
    text-transform: uppercase;
    font-size: 12px;
    
}

#navegacion {
    border: 0.2rem solid var(--uno);
    padding: 1%;
    border-radius: 20px;
    background-color: var(--uno);
    color: var(--cinco);
    font-weight: bold;
    text-align: center;
}

#navegbot{
    justify-content: center;
}

@media (min-width: 600px) {
    #navegbot{
        display: flex;
        justify-content: end;
    }
}

#logo{
    width: 10rem;
}


/**MAIN - SUBTITULO**/

main {
    background-color: whitesmoke;
    
}

@media (min-width: 400px) {
    main{
        height: auto;
    }
    
}


#subtitulo {
    background-color: var(--cuatro);
    color: var(--uno);
    height: auto;
    display: flex;
    align-items: center;
    padding: 3px;
    
}

@media (min-width: 500px) {
    #subtitulo {
        display: flex;
        text-align: center;
    }
}

#flechas{
    width: 40px;
}

/**CATEGOrIAS - BUSCADOR**/



#buscador, #lupa{
    background-color: whitesmoke;
    border: 1px solid #C90260;
}

buttom, img{
    width: 20px;
}


/**CARDS**/

#cards{
    align-items: center;
    margin: 2rem;
}

footer{
    background-color: var(--tres);
    align-items: end;
}

#redes img{
    width: 2.5rem;
    margin-left: 0.5rem;
}

/**TABLAS**/


td {
    border: 2px solid var(--uno);
    color: var(--cinco);
    padding: 10px;
}

#contenido{
    color: black !important;;
}

thead{
    background-color: var(--uno);
    font-weight: bold;
}

tbody{
    background-color: whitesmoke;
    color: black;
}


.card-img-top, #sm{
    box-shadow: 0px 6px 5px 0px rgba(112,112,112,0.53);
}

#sm{
    font-size: 80%;
    padding: 3%;
    margin: 3%;
    background-color: rgb(209, 206, 206);
    color: black;
    border-color: rgb(209, 206, 206);
}


/**CARDS - DETALLES**/

#cards-dinamicas>div {
    margin: 25px;
}

#precybot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*#imgdetalle{
    width: 30rem;
    
}

#detalles{
    align-items: center;
    justify-content: center;

}*/

@media (min-width: 750px) {

    #detalles{
        display: flex;
        flex-direction: row !important;
        margin: 3rem;
    }
    #imgdetalle{
        align-self: self-start;
        width: 85rem;
        height: 15rem;
        
    }
    
}


.foot{
    color: var(--uno);
    font-weight: bold;
    font-size: 2rem;
}

label {
    color: var(--uno);
    margin: 1px;
}
